<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FastClear.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FastClear.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Validation" publicKeyToken="2fc06f0d701809a7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FastClear.My.MySettings>
      <setting name="ClearTempFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartMySrv" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefineVirtualMemory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefineVirtualMemory_Max" serializeAs="String">
        <value>12288</value>
      </setting>
      <setting name="DefineVirtualMemory_Min" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="GlobalGPUSpeedUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PowerCfgChoice" serializeAs="String">
        <value>381b4222-f694-41f0-9685-ff5bb260df2e</value>
      </setting>
    </FastClear.My.MySettings>
  </userSettings>
  <applicationSettings>
    <FastClear.My.MySettings>
      <setting name="PowerCfg_low" serializeAs="String">
        <value>a1841308-3541-4fab-bc81-f71556f20b4a</value>
      </setting>
      <setting name="PowerCfg_Auto" serializeAs="String">
        <value>381b4222-f694-41f0-9685-ff5bb260df2e</value>
      </setting>
      <setting name="PowerCfg_High" serializeAs="String">
        <value>8c5e7fda-e8bf-4a96-9a85-a6e23a8c635c</value>
      </setting>
      <setting name="PowerCfg_Highest" serializeAs="String">
        <value>e9a42b02-d5df-448d-aa00-03f14749eb61</value>
      </setting>
    </FastClear.My.MySettings>
  </applicationSettings>
</configuration>