<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FastClear.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Validation" publicKeyToken="2fc06f0d701809a7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FastClear.My.MySettings>
      <setting name="AutoClearTime" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="ClearMemory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClearTempFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClearTask_Dwm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearTask_Explorer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearTask_SearchIndexer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearVirtualMemory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SetProtectBool" serializeAs="String">
        <value>False</value>
      </setting>
    </FastClear.My.MySettings>
  </userSettings>
</configuration>